body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: hsl(264, 5%, 20%);
  color: #333;
  overflow-y: auto;
  background-image: url('../src/intra.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.login-container {
  max-width: 450px;
  background-color: #c7c2cc;
  padding: 40px;
  border-radius: 10px;
  text-align: center;
  box-sizing: border-box;
  margin: 100px auto;
  opacity: 0.88;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
}

button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #2c3e50;
  color: white;
  font-size: 18px;
  cursor: pointer;
  z-index: 1;
}

button:hover {
  background-color: #34495e;
}

button#logout {
  background-color: #2c3e50;
  font-size: 16px;
  width: auto;
  float: right;
}

button#logout:hover {
  background-color: #000000;
}

.logo {
  width: 50px;
  height: 50px;
}

.compus {
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  float: left;
  position: relative;
}

.Page-Top {
  color: #fff;
  text-align: center;
  padding: 20px;
  position: relative;
}

/****************************************************************/

.personal-info {
  margin-top: 50px;
  border-radius: 10px;
  color: #fff;
  float: left;
  text-align: left;
  background-color: #b9b6bd;

}

.personal-info h2 {
  text-align: center;
  color: #000000;
}

.personal-info p {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 35px;
}

.personal-info strong {
  color: #000000;
}

/******************************************************************/
.projects-success {
  margin-top: 50px;
  border-radius: 10px;
  color: #fff;
  float: left;
  text-align: left;
  /* margin-left: 250px; */
  background-color: #b9b6bd;
  height: 340px;
  width: 300px;
  overflow-y: scroll;
}

.projects-success h2 {
  text-align: center;
  color: #000000;
}

.projects-success p {
  margin-left: 10px;
  margin-right: 10px;
  font-size: 20px;
}

/*******************************************************************/
.current-projects {
  margin-top: 50px;
  border-radius: 10px;
  color: #fff;
  float: left;
  text-align: left;
  /* margin-left: 250px; */
  background-color: #b9b6bd;
  height: 340px;
  width: 300px;
  overflow-y: scroll;
}

.current-projects h2 {
  text-align: center;
  color: #000000;
}

.current-projects p {
  margin-left: 10px;
  margin-right: 10px;
  font-size: 20px;
}

/*******************************************************************/

.profile-container {
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 150px;
}

* {
  scrollbar-width: thin;
  scrollbar-color: rgb(52, 52, 75) rgb(78, 78, 60);
}

/**********************************************************************/
#graph1 {
  width: 90%;
  max-width: 600px;
  height: 100%;
  margin: 20px auto;
  border-radius: 20px;
  text-align: center;
  background-color: #b9b6bd;
  display: flex;
  flex-direction: column;
  padding: 20px;
  word-wrap: break-word;
}
#svg-graph111{
  overflow-x: auto;
}
#graph2 {
  background-color: #b9b6bd;
  margin-bottom: 20px;
  height: 100%;
  margin-right: auto;
  overflow-x: auto;
}
#title{
  font-size: 20px;
  font-weight: bold;
  color: #000000;
}
/*****************************************************************************/
#error-message{
  color:red;
  font-size: 12px;
}

@media (max-width: 768px) {}

@media (max-width: 425px) {
  svg {
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 375px) {
  .compus {
    font-size: 10px;
  }

  svg {
    width: 100%;
    height: 100%;
  }
}
